[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/randrus
[access "refs/for/refs/*"]
	read = group user/randrus
	push = group user/randrus
	label-Code-Review = -2..+2 group user/randrus
	label-Verified = -1..+1 group user/randrus
	rebase = group user/randrus
	removeReviewer = group user/randrus
	submit = group user/randrus
[access "refs/heads/*"]
	read = group user/randrus
	create = group user/randrus
	push = +force group user/randrus
	pushMerge = group user/randrus
[access "refs/tags/*"]
	push = +force group user/randrus
	pushTag = group user/randrus
	pushSignedTag = group user/randrus
